In [19]:
import torch
import torch.nn as nn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import torch.optim as optim
from collections import OrderedDict
from torchvision import datasets
from torchvision import transforms

%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 0 ns (started: 2023-12-03 21:46:19 -05:00)

In [20]:
print("Ello govna")

print("Oi tudo bem?")

print("Tuxedo")

print("Terno")

Ello govna
Oi tudo bem?
Tuxedo
Terno
time: 15 ms (started: 2023-12-03 21:46:19 -05:00)

In [41]:
#Calling the dataset for Heart Failure
file_path_heart_failure = r"C:\Users\aaron\Documents\Python Code\Datasets\Heart Failure Prediction\heart.csv"
heart_failure = pd.read_csv(file_path_heart_failure)

heart_failure_output = heart_failure.pop('HeartDisease')

heart_failure.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up

time: 0 ns (started: 2023-12-03 22:04:06 -05:00)

In [42]:
#Calling the dataset for Heart Attack Risk
file_path_heart_attack = r"C:\Users\aaron\Documents\Python Code\Datasets\Heart Attack Risk Predicition\heart_attack_prediction_dataset.csv"
heart_attack = pd.read_csv(file_path_heart_attack)

heart_attack_output = heart_attack.pop('Heart Attack Risk')

heart_attack.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,9,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,1,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,9,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,6,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere

time: 16 ms (started: 2023-12-03 22:04:30 -05:00)

In [45]:
file_path_heart_prediction = r"C:\Users\aaron\Documents\Python Code\Datasets\Heart Attack Analysis and Prediction\heart.csv"
heart_prediction = pd.read_csv(file_path_heart_prediction)

heart_prediction_output = heart_prediction.pop('output')

heart_prediction.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

time: 0 ns (started: 2023-12-03 22:05:17 -05:00)

In [46]:
file_path_O2 = r"C:\Users\aaron\Documents\Python Code\Datasets\Heart Attack Analysis and Prediction\o2Saturation.csv"
O2_sat = pd.read_csv(file_path_O2)

O2_sat.rename(columns = {"98.6": 'O2 Saturation'}, inplace = True)

O2_sat.head()

   O2 Saturation
0           98.6
1           98.6
2           98.6
3           98.1
4           97.5

time: 0 ns (started: 2023-12-03 22:05:24 -05:00)

In [47]:
# Check if GPU is available
if torch.cuda.is_available():
    device = torch.device("cuda")  # Use GPU
    print("GPU is available.")
else:
    device = torch.device("cpu")   # Use CPU
    print("GPU is not available, using CPU.")

GPU is not available, using CPU.
time: 0 ns (started: 2023-12-03 22:05:25 -05:00)

In [58]:
#Combining the dataframes
combined_dataframe = pd.concat([heart_failure, heart_attack, heart_prediction, O2_sat], axis=1)  # Stack horizontally

combined_dataframe.head()

combined_dataframe.shape

(8763, 50)

time: 0 ns (started: 2023-12-03 22:10:39 -05:00)

In [57]:
#Combining the Outputs for the dataframes
combined_outputs = pd.concat([heart_failure_output, heart_attack_output, heart_prediction_output], axis = 1) #Stack Horizontally

combined_outputs.head()

combined_outputs.shape

(8763, 3)

time: 0 ns (started: 2023-12-03 22:10:28 -05:00)